*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* layput delle immagini */

.d-nascosta{
    display: none;
}

.d-compari{
    display: block;
}

#contenitore{
    width: 70%;
    margin: auto;
    /* debug */
    height: 400px;
    background-color: red;
}

img{
    width: 100%;
}