/* caratteristiche generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* caratteristiche generali del contenitore con dentro tutti i componenti */
#contenitore{
    top: 70px;
    width: 70%;
    margin: auto;
    position: relative;
}
/* caratteristiche img inserita tramite javascript */
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* classe inserita tramite javascript */
.descrizione-img{
    position: absolute;
    bottom: 40px;
    color: white;
    text-align: right;
    right: 0px;
}

/* caratteristiche bottoni */
#scorrere-indietro, #scorrere-avanti{
    width: 30px;
    height: 30px;
    border-radius: 50%;
     border: unset;
     filter: contrast(0.5);
 }
/* bottone per scorrere avanti */
#scorrere-avanti{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 500;
}
/* bottone per scorrere indietro */
#scorrere-indietro{
    bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

 #contenitore-img> div{
    height: 400px;
 }